<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Calculator</title>
        <link rel="stylesheet" href="{{ asset('css/calculator.css') }}"/>
    </head>
    <body>
        <div class="container">
            <div style="text-align: center;">
                <h1 class="title">Calculator</h1>
                <table style="margin: auto;">
                    <thead>
                        <tr>
                            <th colspan="4" id="result">
                                <span id="calc-output">0</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <button class="number" type="button" value="1" id="button-1">1</button>
                            </td>
                            <td>
                                <button class="number" type="button" value="2" id="button-2">2</button>
                            </td>
                            <td>
                                <button class="number" type="button" value="3" id="button-3">3</button>
                            </td>
                            <td>
                                <button class="operator" type="button" value="+" id="button-plus">+</button>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <button class="number" type="button" value="4" id="button-4">4</button>
                            </td>
                            <td>
                                <button class="number" type="button" value="5" id="button-5">5</button>
                            </td>
                            <td>
                                <button class="number" type="button" value="6" id="button-6">6</button>
                            </td>
                            <td>
                                <button class="operator" type="button" value="-" id="button-minus">-</button>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <button class="number" type="button" value="7" id="button-7">7</button>
                            </td>
                            <td>
                                <button class="number" type="button" value="8" id="button-8">8</button>
                            </td>
                            <td>
                                <button class="number" type="button" value="9" id="button-9">9</button>
                            </td>
                            <td>
                                <button class="operator" type="button" value="*" id="button-multi">x</button>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <button class="operator" type="button" value="." id="button-dot">.</button>
                            </td>
                            <td>
                                <button class="number" type="button" value="0" id="button-0">0</button>
                            </td>
                            <td>
                                <button class="clear" type="button" value="c" id="button-c">c</button>
                            </td>
                            <td>
                                <button class="operator" type="button" value="/" id="button-div">&div;</button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <button class="equal" type="button" data-href="{{ path('calculate') }}" id="button-equal">=</button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="{{ asset('js/calculator.js') }}"></script>
    </body>
</html>
